.page-faq{
    color: var(--color-text);
    
    h1{
        font-size: 32px;
        font-weight: 600;
    }
    h2{
        font-size: 24px;
        font-weight: 600;
        margin-top: 80px;
    }
    h3{
        font-size: 20px;
    }
    p{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin-top: 20px;
    }
    ul{
        li{
            margin-top: 10px;
        }
    }
}

@media(min-width:768px){
    .page-faq{
        h1{
            font-size: 38px !important;
        }
        h2{
            font-size: 32px !important;
        }
        h3{
            font-size: 24px !important;
        }
    }
}